include README.md
include fforest/res/default_values.json
include fforest/res/parameters_names.json
include fforest/res/global_variables.json
include fforest/res/statistics_names.json
include fforest/res/parameters_documentation.json
include fforest/res/output_messages.json
include fforest/bin/Salammbo