[Desktop Entry]
Encoding=UTF-8
Name=Lien vers UCI Machine Learning Repository: Adult Data Set
Type=Link
URL=https://archive.ics.uci.edu/ml/datasets/adult
Icon=text-html
