[Desktop Entry]
Encoding=UTF-8
Name=Lien vers UCI Machine Learning Repository: Yeast Data Set
Type=Link
URL=https://archive.ics.uci.edu/ml/datasets/Yeast
Icon=text-html
